@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

footer {
  font-size: 13px;
}
footer .footer-widgets {
  color: #363839;
}
footer .footer-widgets.-stripe-1 {
  padding: 50px 0;
}
footer .footer-widgets.-stripe_1 {
  background: #f2f2f2;
}
footer .footer-widgets .widgets-container__logo img {
  max-width: 100%;
}
footer .footer-widgets .widgets-container__text p {
  color: #363839;
}
footer .footer-widgets .widgets-container h4 {
  margin-bottom: 30px;
  text-transform: inherit;
  color: #363839;
}
footer .footer-widgets .widgets-container .recent-posts ul {
  list-style: none;
}
footer .footer-widgets .widgets-container .recent-posts ul li {
  padding-top: 20px;
  border-top: 1px solid #bbbbbb;
}
footer .footer-widgets .widgets-container .recent-posts ul li:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
footer .footer-widgets .widgets-container .recent-posts ul li .blog-thumb {
  width: 33px;
  height: 33px;
  margin-right: 12px;
  border: 1px solid #acacac;
  overflow: hidden;
  float: left;
  background: #ebebeb;
}
footer .footer-widgets .widgets-container .recent-posts ul li .blog-thumb img {
  width: 100%;
  height: 100%;
}
footer .footer-widgets .widgets-container .recent-posts ul li .blog-desc {
  float: left;
  width: 210px;
}
footer .footer-widgets .widgets-container .recent-posts ul li .blog-desc__title {
  color: #e85200;
}
footer .footer-widgets .widgets-container .recent-posts ul li .blog-desc__title.-blog-font {
  font-size: 13px;
  margin-bottom: 0;
}
footer .footer-widgets .widgets-container .recent-posts ul li .blog-desc__title:hover {
  color: #333;
}
footer .footer-widgets .widgets-container .recent-posts ul li .blog-desc__text {
  color: #363839;
  font-size: 11px;
}
footer .footer-widgets .widgets-container .product-tag a {
  display: inline-block;
  border: 1px solid #acacac;
  padding: 5px 12px;
  margin: 0 2px 12px 0;
  color: #363839;
  transition: 0.2s;
}
footer .footer-widgets .widgets-container .product-tag a:hover {
  color: #fff;
  background: #e85200;
  transition: 0.2s;
  text-decoration: none;
}
footer .footer-widgets .widgets-container .news-form {
  height: 43px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
footer .footer-widgets .widgets-container .news-form input {
  background: #42454a;
  color: #fff;
  padding: 13px 55px 13px 10px;
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  font-style: normal;
  height: inherit;
}
footer .footer-widgets .widgets-container .news-form button {
  border-radius: 0px 5px 5px 0px;
  background: #e85200;
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  padding: 11px 10px 10px;
  border: none;
}
footer .footer-widgets .widgets-container .payment-icons {
  text-align: center;
  margin-top: 44px;
}
footer .footer-widgets .widgets-container .payment-icons a img {
  max-width: 100%;
}
footer .bottom-bar {
  background: #242424;
  color: #b1b1b1;
  font-size: 13px;
  border-top: 1px solid #727272;
  padding: 20px 0;
}
footer .bottom-bar .sepraterLi {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  margin-bottom: 0;
}
footer .bottom-bar .sepraterLi li {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}
footer .bottom-bar .sepraterLi li:first-child::before {
  content: "";
  padding: 0;
}
footer .bottom-bar .sepraterLi li::before {
  content: "|";
  display: inline-block;
  padding: 0 5px 0 2px;
}
footer .bottom-bar .sepraterLi li a {
  color: #b1b1b1;
}
footer .bottom-bar .sepraterLi li a:hover {
  text-decoration: none;
  color: #fff;
}
footer .bottom-bar .copyright {
  margin-top: 7px;
}
footer .bottom-bar .copyright a {
  color: #b1b1b1;
}
footer .bottom-bar .copyright a:hover {
  text-decoration: none;
  color: #fff;
}
footer .bottom-bar .social-links {
  padding: 8px 0 7px;
  text-align: right;
  font-size: 20px;
}
footer .bottom-bar .social-links ul {
  margin: 0;
}
footer .bottom-bar .social-links ul li {
  padding: 0 3px;
  display: inline-block;
}
footer .bottom-bar .social-links ul li:first-child {
  margin-right: 10px;
}
footer .bottom-bar .social-links ul li a {
  color: #b1b1b1;
}
footer .bottom-bar .social-links ul li a:hover {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
